<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a high school student at
      <a class="underline-link" href="https://www.upstatement.com/" target="_blank">Indian Public School , Kuwait</a> Secondary Schooling. I am currently studying from
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">Gems International School , Gurgaon</a> I am a Corporate Law Aspirant!
 <!----     <a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a>,
      <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>.
    </p> -->

    <p>
      I am currently studying Humanitarian Subjects from Gems International School Gurgaon, India I will be passing out of high school in 2022. I major in CS , Economics & Psychology I am very much into technological areas such as coding and web design! Model United Nations I often take part in Activities like Model United Nations to improve myself in critical thinking and speaking. Law has always been my passion.and i cant wait to pursue my dream in the times ahead.

      As a Law aspirant i do read about daily current affairs , grasp knowledge about social issues and read about economic prospects in the future.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably studying law 🙄
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
